<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Add Style Image</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Add Style Image</mat-label>
        <input matInput formControlName="firstCtrl" required />
        <div class="custom-dropzone" ngx-dropzone>
          <ngx-dropzone (change)="onSelectStyleFile($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png">
            <ngx-dropzone-label>Drop Style Image</ngx-dropzone-label>
            <ngx-dropzone-image-preview
              [removable]="true"
              ngProjectAs="ngx-dropzone-preview"
              (removed)="onRemoveStyleFile(stylefile)"
              *ngIf="stylefile!=undefined"
              [file]="stylefile"
            >
              <ngx-dropzone-label>{{ stylefile.name }} ({{ stylefile.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Add Content Image">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Add Content Image</mat-label>
        <input matInput formControlName="secondCtrl" required />
        <div class="custom-dropzone" ngx-dropzone>
          <ngx-dropzone
            (change)="onSelectContentFile($event)"
            [multiple]="false"
            accept="image/jpeg,image/jpg,image/png"
          >
            <ngx-dropzone-label>Drop Content Image</ngx-dropzone-label>
            <ngx-dropzone-image-preview
              [removable]="true"
              ngProjectAs="ngx-dropzone-preview"
              (removed)="onRemoveContentFile(contentfile)"
              *ngIf="contentfile!=undefined"
              [file]="contentfile"
            >
              <ngx-dropzone-label>{{ contentfile.name }} ({{ contentfile.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
