.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

ngx-dropzone {
  height: 599px !important;
  width: 1000px !important;
}

ngx-dropzone-image-preview.ng-star-inserted {
  height: 599px !important;
  width: 1000px !important;
}

.custom-dropzone {
  margin: 20px;
  height: 600px;
  width: 1000px;
  background: #333;
  color: #fff;
  border: 5px solid #c2185b;
  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid #c2185b;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.navigationButton{
  width: 50px;
  height: 50px;
  background-color: #c2185b;
  border: 0px;
  margin-right: 10px;
}

.message{
  color: #c2185b;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.textMessage{
  line-height: 200px;
}