<mat-stepper [linear]="isLinear" #stepper animationDuration="2000">
  <mat-step #firstStep [stepControl]="firstFormGroup">
    <div>
      <mat-label class="message">Add Style Image</mat-label>
      <div
        *ngIf="!files.length && !imageSelectedWithClick"
        class="custom-dropzone"
        appDrag
        (files)="filesDropped($event)"
      >
        <div class="text-wrapper">
          <div class="textMessage">Drop your file here or select one from below!</div>
        </div>
      </div>

      <div appDrag (files)="filesDropped($event)" *ngIf="imageSelectedWithDrop" class="custom-dropzone">
        <img [src]="files[0].url" width="1000px" height="600px" />
      </div>

      <div appDrag (files)="filesDropped($event)" *ngIf="imageSelectedWithClick" class="custom-dropzone">
        <img src="{{imageSelectedWithClickSrc}}" width="1000px" height="600px" />
      </div>
    </div>
    <ng-image-slider
      [images]="imageObject"
      #nav
      [slideImage]="6"
      [imagePopup]="false"
      (imageClick)="imageClicked($event)"
    ></ng-image-slider>
    <div>
      <button class="navigationButton" (click)="nextClicked()" [disabled]="!stylefileStatus">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #secondStep [stepControl]="secondFormGroup" label="Add Content Image">
    <mat-label class="message">Add Content Image</mat-label>
    <div class="custom-dropzone" ngx-dropzone>
      <ngx-dropzone (change)="onSelectContentFile($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png">
        <ngx-dropzone-label class="message">Drop Content Image</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          [removable]="true"
          ngProjectAs="ngx-dropzone-preview"
          (removed)="onRemoveContentFile(contentfile)"
          *ngIf="contentfile!=undefined"
          [file]="contentfile"
        >
          <ngx-dropzone-label>{{ contentfile.name }} ({{ contentfile.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
    <div>
      <button class="navigationButton" mat-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button class="navigationButton" (click)="nextClicked()" [disabled]="!contentfileStatus">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #thirdStep [stepControl]="thirdFormGroup" label="Processing">
    <ng-lottie
      height="500px"
      [options]="options"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="stepper.next()"
      (click)="play()"
    ></ng-lottie>

    <div class="navigationButtonLocation">
      <mat-form-field appearance="fill">
        <mat-label>Select iteration count</mat-label>
        <mat-select #matSelectIter [(ngModel)]="modeselect" [placeholder]="modeselect">
          <mat-option value="iter1">100</mat-option>
          <mat-option value="iter2">200</mat-option>
          <mat-option value="iter3">300</mat-option>
          <mat-option value="iter4">400</mat-option>
          <mat-option value="iter5">500</mat-option>
          <mat-option value="iter6">600</mat-option>
          <mat-option value="iter7">700</mat-option>
          <mat-option value="iter8">800</mat-option>
          <mat-option value="iter9">900</mat-option>
          <mat-option value="iter10">1000</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="navigationButtonLocation">
      <button class="navigationButton" mat-button matStepperPrevious [disabled]="!processingStatus">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #fourthStep>
    <ng-template matStepLabel>Done</ng-template>
    <div *ngIf="resultImageUrl != ''">
      <p class="message">
        Image processing started. The result will be visible under this URL:
      </p>
      <div class="message">
        <a href="{{resultImageUrl}}">{{resultImageUrl}}</a>
      </div>
    </div>
    <p class="message">Click to start a new processing</p>
    <div class="navigationButtonLocation">
      <button class="navigationButton" mat-button (click)="resetClicked()">Go</button>
    </div>
  </mat-step>
</mat-stepper>
