<mat-stepper [linear]="isLinear" #stepper animationDuration="2000">
  <mat-step #firstStep [stepControl]="firstFormGroup">
    <div>
      <mat-label class="message">Add Style Image</mat-label>
      <div class="custom-dropzone" ngx-dropzone>
        <ngx-dropzone (change)="onSelectStyleFile($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png">
          <ngx-dropzone-label class="message">Drop Style Image</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            [removable]="true"
            ngProjectAs="ngx-dropzone-preview"
            (removed)="onRemoveStyleFile(stylefile)"
            *ngIf="stylefile!=undefined"
            [file]="stylefile"
          >
            <ngx-dropzone-label>{{ stylefile.name }} ({{ stylefile.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </div>
    <ng-image-slider
      [images]="imageObject"
      #nav
      [slideImage]="6"
      [imagePopup]="false"
      (imageClick)="imageClicked($event)"
    ></ng-image-slider>
    <div>
      <button class="navigationButton" (click)="nextClicked()" [disabled]="!stylefileStatus">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #secondStep [stepControl]="secondFormGroup" label="Add Content Image">
    <mat-label class="message">Add Content Image</mat-label>
    <div class="custom-dropzone" ngx-dropzone>
      <ngx-dropzone (change)="onSelectContentFile($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png">
        <ngx-dropzone-label class="message">Drop Content Image</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          [removable]="true"
          ngProjectAs="ngx-dropzone-preview"
          (removed)="onRemoveContentFile(contentfile)"
          *ngIf="contentfile!=undefined"
          [file]="contentfile"
        >
          <ngx-dropzone-label>{{ contentfile.name }} ({{ contentfile.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
    <div>
      <button class="navigationButton" mat-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button class="navigationButton" (click)="nextClicked()" [disabled]="!contentfileStatus">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #thirdStep [stepControl]="thirdFormGroup" label="Processing">
    <ng-lottie
      height="500px"
      [options]="options"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="stepper.next()"
      (click)="play()"
    ></ng-lottie>

    <div>
      <button class="navigationButton" mat-button matStepperPrevious [disabled]="!processingStatus">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step #fourthStep>
    <ng-template matStepLabel>Done</ng-template>
    <p class="message">Click to start a new processing</p>
    <div>
      <button class="navigationButton" mat-button (click)="resetClicked()">Go</button>
    </div>
  </mat-step>
</mat-stepper>
